<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google" content="notranslate">
    <title>Simon Home</title>

    <script src="https://unpkg.com/htmx.org@2.0.0"
            integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
            crossorigin="anonymous"></script>

</head>
<body>
<h1>hello simon</h1>
<div hx-get="/v1/tasks" hx-trigger="load, every 2s" hx-swap="innerHTML"></div>
</body>
</html>